body {
  background-color: rosybrown;
  color: white;
}

#budget {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#budget p {
  text-align: center;
}

#formulaire {
  padding: 20px;
  text-align: center;
}

#formulaire input {
  font-size: 17px;
  border-radius: 10px;
}

#formulaire select {
  font-size: 17px;
  border-radius: 10px;
}

#formulaire button {
  font-size: 17px;
  border-radius: 10px;
}

#form {
  text-align: center;
}

#resultat {
  text-align: center;
}

#tableau {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
}

h1 {
  text-align: center;
  font-size: 37px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}

#budget {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 30px;
}

#totalrevenus {
  color: green;
  font-size: 20px;
}

#totaldepenses {
  color: red;
  font-size: 20px;
}

#libelle {
  text-align: center;
}

#montant {
  text-align: center;
}

button {
  background-color: rgb(27 255 240);
}
